<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Authentication</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <!-- <ion-card> -->
      <ion-card-header>
        <ion-card-title>PhotoShare</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form @submit.prevent="formSubmit">
          
          <ion-card-subtitle>{{mainBtnText}}</ion-card-subtitle>
          
          <ion-item v-if="mode === AuthMode.SignUp">
            <ion-label position="floating">Name</ion-label>
            <ion-input v-model="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input v-model="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" v-model="password"></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            color="primary"
            class="ion-margin-top"
            type="submit"
          >
            {{mainBtnText}}
          </ion-button>

          <ion-button
            expand="block"
            color="secondary"
            class="ion-margin-top"
            @click="mode = mode === AuthMode.SignIn ? AuthMode.SignUp : AuthMode.SignIn"
          >
            {{secBtnText}}
          </ion-button>

        </form>
      </ion-card-content>
      <ion-card-content v-if="errorMsg" class="error-message">
        {{ errorMsg }}
      </ion-card-content>
      <!-- </ion-card> -->
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonPage,
  // IonCard,
  IonCardHeader,
  IonCardSubtitle,
  IonCardTitle,
  IonCardContent,
  IonInput,
  IonButton,
  IonLabel,
  IonItem,
} from "@ionic/vue";
import { auth, db } from "../main";
import { computed, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";

enum AuthMode {
  SignIn,
  SignUp,
}

export default {
  name: "Authentication",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    // IonCard,
    IonCardHeader,
    IonCardSubtitle,
    IonCardTitle,
    IonCardContent,
    IonInput,
    IonButton,
    IonLabel,
    IonItem,
  },
  setup() {
    const router = useRouter();
    const state = reactive({
      name    : "",
      email   : "",
      password: "",
      mode    : AuthMode.SignIn,
      errorMsg:  "",
    });

    const mainBtnText = computed( ()=> {
      return state.mode === AuthMode.SignIn
        ?  'Sign In'
        :  'Register'
    } )
    const secBtnText = computed( ()=> {
      return state.mode === AuthMode.SignIn
        ?  'Switch To Register'
        :  'Switch To Sign In'
    } )

    const signInWithEmailAndPassword = async (
      email: string,
      password: string
    ) => {
      try {
        if (!email || !password) {
          state.errorMsg = "Email and password required!";
          return;
        }
        await auth.signInWithEmailAndPassword(email, password);
        router.push("/tabs/tab1");
      } catch (error) {
        state.errorMsg = error.message;
      }
    };

    const signUpWithEmailAndPassword = async (
      name: string,
      email: string,
      password: string
    ) => {
      try {
        if (!name || !email || !password) {
          state.errorMsg = "All fields are required!";
          return;
        }
        const authRes = await auth.createUserWithEmailAndPassword(
          email,
          password
        );

        db.collection("users").doc(authRes.user?.uid).set({
          name,
          email,
        });
        router.push("/tabs/tab1");
      } catch (error) {
        state.errorMsg = error.message;
      }
    };

    const formSubmit = () => {
      state.mode === AuthMode.SignIn
        ? signInWithEmailAndPassword(state.email, state.password)
        : signUpWithEmailAndPassword(state.name, state.email, state.password);
    };
    
    return {
      ...toRefs(state),
      signInWithEmailAndPassword,
      signUpWithEmailAndPassword,
      formSubmit,
      mainBtnText,
      secBtnText,
      AuthMode
    };
  },
};
</script>

<style>
.center {
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.error-message {
  color: red;
  background-color: #f8d7da;
  background-color: #f5c2c7;
  text-align: center;
}
</style>